* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	padding: 1rem;
	background-color: hsl(30, 38%, 92%);
	font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
	color: hsl(228, 12%, 48%);
	font-size: 14px;
	font-weight: 500;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	display: flex;
	flex-direction: column;
	width: 92%;
	max-width: 350px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 1rem;
}

.hero, section {
	flex-basis: 350px;
}

.hero {
	width: 100%;
}

.hero picture, .hero picture img {
	width: 100%;
	height: 100%;
	display: block;
}

.hero picture img {
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
}

article section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1.5rem;
	padding: 2rem;
}

.title {
	text-transform: uppercase;
	letter-spacing: 3px;
}

h1, .price {
	font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
}

h1 {
	text-transform: capitalize;
	color: hsl(212, 21%, 14%);
	line-height: 1.7rem;
	font-size: 1.8rem;
}

.price {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.recent {
	color: hsl(158, 36%, 37%);
	font-size: 1.7rem;
}

button {
	border: 0;
	background-color: hsl(158, 36%, 37%);
	color: hsl(0, 0%, 100%);
	padding: 1rem;
	font-weight: bold;
	border-radius: 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
}

button:hover {
	background-color: hsl(158, 42%, 18%);
}

@media all and (min-width: 768px) {
	
	main {
		height: 100vh;
		min-height: 450px;
		font-size: 15px;
	}
	
	article {
		flex-direction: row;
		max-width: 600px;
		height: 430px;
	}
	
	h1 {
		font-size: 2rem;
		line-height: 2rem;
	}
	
	.hero picture img {
		border-radius: 1rem 0 0 1rem;
	}
}